<div class="user-box">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <% if @user.image? %>                                                              
    <%= image_tag @user.image.url %>
  <% end %>
  <br>
  <%= link_to '編集する', edit_user_path(@user.id) %>
</div>